@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}
body,html{
    width: 100%;
    color: #fff;
    background-color: #332f2f;
}
.wrap{
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
}
/* 設定顏色變數 */
:root{
    --primary-color:#152D52;
    --second-color:#0F2038;
    --sandy-brown: #feb06aff;
    --paynes-gray: #5d6c89ff;
    --blue-munsell: #1f7f95ff;
    --cambridge-blue: #68a691ff;
    --isabelline: #fbf6f3ff;
}

/* icon 使用font-awesome icon*/
i{
    font-size: 2rem;
    padding: 0.5rem;
    vertical-align: middle;
}

/* nav 導覽列 */
.nav{
    display: flex;
    background-color:var(--second-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.nav-logo a, .nav-menu-item a{
    text-decoration: none;
    color: var(--isabelline);
    font-size: 1rem;
}
.nav-menu{
    display: flex;
    justify-content: end;
    flex-basis: calc(100% * (1/2));
    white-space: nowrap;    
}
.nav-logo{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-basis: calc(100% * (1/2));
    white-space: nowrap; 
    font-weight: 700;
}
.nav-logo span{
    font-size: 1.4rem;
}
.nav-menu-item{
    padding: 0 .5rem;
    transition: 1s;
}
.nav-menu-item :hover{
    color: var(--sandy-brown);
    transition: ease-in 0.5s;
}

@media (width < 800px) {
    .nav-menu-item span{
        display: none;
    }
}
/* hero 主視覺 */
.hero-container{
    background-image: url(/images/hero-img.jpg);
    min-height: 70vh;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 40px;
}
.hero-item{
    width: fit-content;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 8rem;
    white-space: nowrap;
}
.hero-container span{
    width: fit-content;
    font-weight: 700;
    color: var(--sandy-brown);
    position: absolute;
    opacity: 0;
    animation: shawwords 9s var(--i) linear infinite;
}
@keyframes shawwords{
    5%, 25%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }
}
/* about 關於作者 */
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    gap: 5rem;
}
.about-leftside, .about-rightside{
    width: 50%;
}
.about-leftside{
    padding-top: 50%;
    min-width: 600px;
    background-image: url(../images/author.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.about-rightside h1{
    font-size: 3.6rem;
    margin-bottom: 4.8rem;
    position: relative;
}
.about-rightside h1::after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: -10%;
    left: 0;
}

.about-rightside p{
    margin-bottom: 4.8rem;
}
         
.btn {
    background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
}

.btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* serive */
.item-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.item-list li{
    width: 30%;
    padding: 3rem;
    border: 1px solid var(--sandy-brown);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}
.item-list h1{
    font-size: 3.2rem;
    display: inline-block;
    width: 70%;
    background-color: var(--primary-color);
    text-align: center;
}
